[Unit]
Description=My First Run Script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/my-first-run.sh
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
